.pay2see_tag_info{
  color:var(--muted-color);
  font-size:12px;
}

.pay2see_purchased_user_container{
  display:inline-block;
  width: 100px;
  height: 100px;
}

.pay2see_purchased_user_avatar{

}

.pay2see_purchased_user_name{
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: inline-block;
}

.pay2see_green {
  border: 1px dashed green;
  border-radius: 5px;
  padding: 0px 10px 10px 10px;
}

.pay2see_gray {
  border: 1px dashed #808080;
  border-radius: 5px;
  padding: 0px 10px 10px 10px;
}

.pay2see_header_gray {
  text-align:center;
  color: #808080;
  font-weight:bold;
  padding:5px 0 10px 0;
}

.pay2see_header_green {
  text-align:center;
  color: green;
  font-weight:bold;
  padding:5px 0 10px 0;
}

.Badge--pay2see {
  background: darkorchid;
}

.ComposerBody-header {
  > li {
    vertical-align: middle;
  }

  > .item-pay2see {
    margin-left: 0;
    margin-right: 2px;
  }
}

.Pay2SeeComposerButton {
  display: inline-flex;
  align-items: center;
  max-width: 100%;
  margin-right: 0;
  border-radius: var(--border-radius);
  font-size: 85%;
  font-weight: 600;
  line-height: inherit;
  white-space: nowrap;

  .Button-icon {
    margin-right: 4px;
  }
}

.Pay2SeeButton--green {background-color:#b4f1af;color:#33722d;padding-left:20px;padding-right:20px;}
.Pay2SeeButton--green:focus {background-color:#b4f1af;color:#33722d}
.Pay2SeeButton--green:hover {background-color:#a0ed99;}
.Pay2SeeButton--green:active {background-color:#8be984;}
.Pay2SeeButton--green:disabled {background-color:#b4f1af;}

.Pay2SeeButton--yellow {background-color:#fbbc04;color:#fff;padding-left:20px;padding-right:20px;}
.Pay2SeeButton--yellow:focus {background-color:#fbbc04;color:#fff}
.Pay2SeeButton--yellow:hover {background-color:#e2a904;}
.Pay2SeeButton--yellow:active {background-color:#c99603;}
.Pay2SeeButton--yellow:disabled {background-color:#fbbc04;}

.Pay2SeeButton--gray {background-color:#ddd;color:var(--button-color);padding-left:20px;padding-right:20px;}
.Pay2SeeButton--gray:focus {background-color:#ddd;color:var(--button-color)}
.Pay2SeeButton--gray:hover {background-color:#c6c6c6;}
.Pay2SeeButton--gray:active {background-color:#c6c6c6;}
.Pay2SeeButton--gray:disabled {background-color:#eee;}

@media (max-width: 767px) {
  .Composer,
  .ComposerPage {
    .ComposerBody-header {
      > .item-pay2see {
        display: inline-block;
        width: auto;
        padding: 8px 4px;
        border-bottom: 0;
        vertical-align: middle;
      }
    }
  }

  .Pay2SeeComposerButton {
    padding-left: 10px;
    padding-right: 10px;
  }
}
