.pay2see_tag_info{
  color:var(--muted-color);
  font-size:12px;
}

.pay2see_purchased_user_container{
  display:inline-block;
  width: 100px;
  height: 100px;
}

.pay2see_purchased_user_avatar{

}

.pay2see_purchased_user_name{
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: inline-block;
}

.pay2see_green {
  border: 1px dashed green;
  border-radius: 5px;
  padding: 0px 10px 10px 10px;
}

.pay2see_gray {
  border: 1px dashed #808080;
  border-radius: 5px;
  padding: 0px 10px 10px 10px;
}

.pay2see_header_gray {
  text-align:center;
  color: #808080;
  font-weight:bold;
  padding:5px 0 10px 0;
}

.pay2see_header_green {
  text-align:center;
  color: green;
  font-weight:bold;
  padding:5px 0 10px 0;
}

.Badge--pay2see {
  background: darkorchid;
}

.ComposerBody-header {
  > li {
    vertical-align: middle;
  }

  > .item-pay2see {
    margin-left: 0;
    margin-right: 2px;
  }
}

.ComposerBody-pay2see {
  margin-right: 0;
  line-height: inherit;
  vertical-align: middle;

  .Pay2SeeLabel {
    display: inline-block;
    padding: 0.1em 0.5em;
    border-radius: var(--border-radius);
    background: var(--body-bg);
    border: 1px solid var(--primary-color);
    color: var(--control-color);
    font-size: 85%;
    font-weight: 600;
    line-height: inherit;
    text-transform: none;
    white-space: nowrap;

    &.none {
      background: transparent;
      border: 1px dotted var(--muted-color);
      color: var(--muted-color);
    }

    .icon {
      margin-right: 2px;
    }
  }
}

@media (max-width: 767px) {
  .Composer,
  .ComposerPage {
    .ComposerBody-header {
      > .item-pay2see {
        display: inline-block;
        width: auto;
        padding: 8px 4px;
        border-bottom: 0;
        vertical-align: middle;
      }
    }
  }
}
